/*section.top-page {
  background: url('../Image/1ere\ photo.png');
}*/

@font-face {
  font-family: AbrilFatFace;
  src: url(../fonts/AbrilFatface-Regular.ttf);
}

.title {
  font-family: AbrilFatFace;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Medium.ttf);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: Raleway, sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

button, input, .button {
  color: black;
  text-decoration: none;
  border: none;
  background: white;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px;
  font-size: 18px;
  /* box-sizing: content-box; */
  transition: color 0.3s ease, background 0.3s ease;
}

input {
  cursor: text;
}
input:focus {
  outline: 2px solid black;
}

button:hover, .button:hover {
  background: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.section {
  padding: 20px;
}

hr {
  border-style: solid;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}