/*section.top-page {
  background: url('../Image/1ere\ photo.png');
}*/

@font-face {
  font-family: AbrilFatFace;
  src: url(../fonts/AbrilFatface-Regular.ttf);
}

.title {
  font-family: AbrilFatFace;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Medium.ttf);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: Raleway, sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

button {
  border: none;
  background: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.section {
  padding: 20px;
}

#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}